@font-face {
    font-family: 'applegothic';
    src: url(../font/AppleSDGothicNeoR.ttf) format('ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'applegothic';
    src: url(../font/AppleSDGothicNeoM.ttf) format('ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'applegothic';
    src: url(../font/AppleSDGothicNeoB.ttf) format('ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'gotham';
    src: url(../font/Gotham-Medium_Web.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'gotham';
    src: url(../font/Gotham-Bold_Web.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'gotham';
    src: url(../font/Gotham-BoldItalic_Web.woff) format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'gotham';
    src: url(../font/Gotham-BlackItalic_Web.woff) format('woff');
    font-weight: 900;
}
