@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@keyframes loop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes header-animation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    transform: scale(0.5);
    opacity: 0;
    display: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@font-face {
  font-family: "icomoon";
  src: url(../font/icomoon.woff) format("woff");
}
@font-face {
  font-family: "prgothic";
  src: url(../font/PPRightGothic-WideFine.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "inter";
  src: url(../font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
  font-weight: 500;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.25em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.06);
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, select, button {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

body {
  font-size: 1.2vw;
  line-height: 1.3;
  color: #000;
  letter-spacing: -0.01em;
  font-family: inter;
  box-sizing: border-box;
  color: #000;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 999;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}

.normal {
  line-height: 1;
  font-family: prgothic;
  letter-spacing: -0.03em;
}

.bold {
  font-family: Inter;
  letter-spacing: -0.01em;
}
@media (max-width: 767px) {
  .bold {
    font-size: 35px;
    line-height: 35px;
  }
}

.title {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  letter-spacing: -0.04em;
}
@media (max-width: 1023px) {
  .title {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 12.6px;
  }
}
.title img {
  display: inline-block;
  aspect-ratio: auto 300/300;
  vertical-align: middle;
  margin-right: 5px;
}

.category {
  border: 1px solid #4E4E4E;
  border-radius: 300px;
  padding: 3px 15px;
  letter-spacing: -0.7px;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 1023px) {
  .category {
    font-size: 9.8px;
    line-height: 14px;
  }
}

.work-item {
  font-size: 2.8vw;
  line-height: 1.3;
}

.btn-link {
  display: inline-block;
  padding: 0.6vw 3vw;
  border: 1px solid #4e4e4e;
  border-radius: 200px;
  transition: opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1), transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), border-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), color 0.45s cubic-bezier(0.25, 1, 0.33, 1), background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.btn-link:hover {
  background-color: rgb(236, 235, 235);
}
@media (max-width: 767px) {
  .btn-link {
    font-size: 3.5vw;
    line-height: 1.1;
  }
}

@media (max-width: 1023px) {
  .sub-title {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    display: block;
  }
}

.line {
  border-bottom: 1px solid #4e4e4e;
  display: block;
}

.line.line2 {
  width: 0;
}

.word {
  display: block;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  transform: translateY(0);
  animation: header-animation 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  background: #fff;
}
@media (max-width: 1023px) {
  .header-wrap {
    padding: 0 18px;
  }
}
.header-wrap .logo {
  background: url("../images/main-logo01.png") no-repeat center/contain;
  width: 100px;
  height: 100px;
}
.header-wrap .logo a {
  display: block;
  height: 100%;
  position: relative;
}
@media (max-width: 1023px) {
  .header-wrap .logo {
    vertical-align: middle;
    margin: 0 auto;
    z-index: 300;
    position: relative;
  }
}
@media (max-width: 1023px) {
  .header-wrap .gnb .gnb-list {
    display: none;
  }
}
.header-wrap .gnb .gnb-list .gnb-item {
  display: inline-block;
  margin-right: 20px;
}
.header-wrap .gnb .gnb-list .gnb-item::after {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.header-wrap .gnb .gnb-list .gnb-item:hover:after {
  transform: scaleX(1);
}
.header-wrap .gnb .gnb-list .gnb-item.active {
  border-bottom: 2px solid #000;
  pointer-events: none;
}
.header-wrap.active {
  z-index: 200;
  transition: 0.5s;
  opacity: 1;
}
.header-wrap.hide {
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}
.header-wrap .btn-menu {
  position: fixed;
  display: none;
  width: 32px;
  height: 22px;
  z-index: 10;
  cursor: pointer;
}
.header-wrap .btn-menu::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
  transition: transform 0.3s ease-out;
}
.header-wrap .btn-menu::before.active {
  transition-delay: 0.25s;
  transform: rotate(45deg);
}
.header-wrap .btn-menu::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #4e4e4e;
  transition: transform 0.3s ease-out;
}
.header-wrap .btn-menu::after.active {
  transition-delay: 0.25s;
  transform: rotate(-45deg);
}
@media (max-width: 1023px) {
  .header-wrap .btn-menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
.header-wrap .btn-menu a {
  display: block;
  height: 100%;
}

.tab-area {
  position: fixed;
  overflow: hidden;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: #000000;
  top: -100%;
}
.tab-area .tab-header {
  display: block;
  height: 69px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  position: relative;
}
.tab-area .tab-header .tab-logo {
  display: block;
  background: url("../images/logo.png") no-repeat center/contain;
  width: 50px;
  height: 50px;
  filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tab-area .tab-header .tab-logo a {
  display: block;
  height: 100%;
}
.tab-area .tab-nav {
  position: relative;
  z-index: 300;
  padding: 30px 0;
}
.tab-area .tab-nav .nav-area {
  padding: 0 15%;
  margin-right: 0;
  display: block;
}
.tab-area .tab-nav .nav-area .tabnav-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.tab-area .tab-nav .nav-area .tabnav-item {
  transition-delay: 0.54s;
  color: #f8f8f8;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 120px;
  display: inline-block;
  margin-right: 0.35em;
  transition: all 0.2s ease-in-out;
}
.tab-area .tab-nav .nav-area .tabnav-item a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #f8f8f8;
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
}
.tab-area .tab-nav .nav-area .tabnav-item a:hover:after {
  transform: scaleX(1);
}
.tab-area .tab-nav .nav-area .tabnav-item.active {
  pointer-events: none;
  border-bottom: solid 1px #f8f8f8;
}
.tab-area .tab-bottom {
  display: inline-block;
  width: 100%;
  margin-left: auto;
}
.tab-area .tab-bottom .tab-info {
  display: block;
  color: #fff;
  font-size: 16px;
}
.tab-area .tab-bottom .tab-info .desc {
  text-align: center;
}
.tab-area .btn-close {
  width: 22px;
  height: 30px;
  position: absolute;
  left: 40px;
  top: 25px;
  cursor: pointer;
}
.tab-area .btn-close::before, .tab-area .btn-close::after {
  position: absolute;
  left: 0;
  content: "";
  height: 23px;
  width: 2.5px;
  background: #fff;
}
.tab-area .btn-close::before {
  transform: rotate(45deg);
}
.tab-area .btn-close::after {
  transform: rotate(-45deg);
}

.footer {
  padding: 0 20px;
}
.footer .map {
  display: flex;
  margin-bottom: 8vw;
  padding-top: 1vw;
  border-top: 1px solid #4e4e4e;
}
@media (max-width: 1023px) {
  .footer .map {
    display: block;
  }
}
.footer .map .title {
  width: 42%;
}
@media (max-width: 1023px) {
  .footer .map .title {
    margin-bottom: 5vw;
  }
}
@media (max-width: 767px) {
  .footer .map .title {
    width: 100%;
  }
}
.footer .map .contact {
  width: 17%;
}
@media (max-width: 1023px) {
  .footer .map .contact {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  .footer .map .contact {
    font-size: 12.6px;
  }
}
@media (max-width: 1023px) {
  .footer .map .footer-gnb {
    font-size: 18px;
    display: inline-block;
  }
}
.footer .map li {
  margin-bottom: 24px;
}
.footer .map li a {
  display: inline-block;
}
.footer .map li a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #777777;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.footer .map li a:hover:after {
  transform: scaleX(1);
}
@media (max-width: 767px) {
  .footer .map li {
    font-size: 12.6px;
  }
}
.footer .mail {
  border-top: 1px solid #4e4e4e;
  border-bottom: 1px solid #4e4e4e;
}
.footer .mail .mail-account {
  display: block;
  font-size: 7vw;
  letter-spacing: -0.01em;
  text-align: center;
}
.footer .mail .mail-account:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
.footer .mark {
  display: flex;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.footer .mark > * {
  flex: 1;
}
.footer .mark > *:nth-child(2) {
  display: flex;
  justify-content: center;
}
.footer .mark > *:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  .footer .mark {
    font-size: 18px;
    line-height: 16.8px;
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer .mark {
    font-size: 12.6px;
  }
}

.sc-intro {
  padding: 83px 10px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.sc-intro .intro-txt {
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .sc-intro .intro-txt {
    margin-left: -1vw;
  }
}
.sc-intro .intro-txt .bold {
  font-size: 11vw;
  margin-top: 1.7vw;
  margin-left: 7px;
  letter-spacing: -0.01em;
}
@media (max-width: 1023px) {
  .sc-intro .intro-txt .bold {
    display: block;
    font-size: 14vw;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.1em;
    margin-top: -1vw;
  }
}
@media (max-width: 767px) {
  .sc-intro .intro-txt .bold > span {
    display: block;
    margin-top: -3vw;
  }
}
.sc-intro .intro-sub {
  display: block;
  padding: 0 10px;
}
@media (max-width: 1023px) {
  .sc-intro .intro-sub .copy {
    text-align: center;
    display: block;
  }
}

.sc-visual {
  padding: 0 10px;
  margin-top: 2vw;
}
.sc-visual .img-box {
  transform: scale(0.7);
  animation: appear 1.4s cubic-bezier(0.12, 0.75, 0.4, 1);
  animation-fill-mode: forwards;
  padding: 0 10px;
}
.sc-visual .img-box img {
  object-fit: cover;
  height: 60vw;
  width: 100%;
  background-size: cover;
}
.sc-visual .visual-txt {
  position: relative;
  z-index: 20;
  margin-top: -17vw;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .sc-visual .visual-txt {
    margin-top: -7vw;
  }
}
.sc-visual .visual-txt .normal {
  display: block;
  overflow: hidden;
  font-size: 11vw;
}
.sc-visual .visual-txt .normal.txt1 {
  line-height: 1.2;
  margin-left: 22vw;
}
@media (max-width: 767px) {
  .sc-visual .visual-txt .normal.txt1 {
    margin-left: 24vw;
  }
}
.sc-visual .visual-txt .normal.txt2 {
  margin-top: -4vw;
  margin-left: 30vw;
}
@media (max-width: 767px) {
  .sc-visual .visual-txt .normal.txt2 {
    margin-top: -2vw;
    margin-left: 4vw;
  }
}
@media (max-width: 767px) {
  .sc-visual .visual-txt .normal {
    font-size: 45px;
    line-height: 45px;
  }
}
.sc-visual .visual-txt .bold {
  overflow: hidden;
  display: block;
  font-size: 9vw;
  line-height: 1.3;
}
.sc-visual .visual-txt .bold.txt3 {
  margin-top: -3.5vw;
  margin-left: 8vw;
}
@media (max-width: 767px) {
  .sc-visual .visual-txt .bold.txt3 {
    display: block;
    margin-left: 20vw;
    margin-top: -2vw;
  }
}
.sc-visual .visual-txt .bold.txt4 {
  margin-top: -4vw;
  margin-left: 18vw;
}
@media (max-width: 767px) {
  .sc-visual .visual-txt .bold.txt4 {
    margin-top: -3vw;
  }
}
.sc-visual .visual-txt .bold.txt5 {
  margin-top: -2.8vw;
  margin-left: 26vw;
}
@media (max-width: 767px) {
  .sc-visual .visual-txt .bold.txt5 {
    margin-top: -2vw;
  }
}

.sc-introduce {
  position: relative;
  padding: 0 20px;
}
.sc-introduce .group-column01 {
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column01 {
    width: 100%;
  }
}
.sc-introduce .group-column01 .area {
  height: 28vw;
  width: 42%;
  flex-shrink: 0;
  border-right: 1px solid #4e4e4e;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column01 .area {
    display: none;
  }
}
.sc-introduce .group-column01 .img-thumb {
  scale: 0.5;
  opacity: 0;
  height: 28vw;
  overflow: hidden;
  width: 25%;
  margin: 0 10px 0 20px;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column01 .img-thumb {
    width: 50%;
    height: 80vw;
    margin: 0 10px 30px;
  }
}
@media (max-width: 767px) {
  .sc-introduce .group-column01 .img-thumb {
    margin-bottom: 0;
  }
}
.sc-introduce .group-column01 .img-thumb.img2 {
  background: url("../images/sc-int02.png") no-repeat center;
  background-size: cover;
  width: 33%;
  height: 20vw;
  margin: 0 0 0 10px;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column01 .img-thumb.img2 {
    width: 50%;
    margin-bottom: 30px;
    height: 60vw;
  }
}
.sc-introduce .group-column01 .img-thumb img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}
.sc-introduce .group-column02 {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column02 {
    display: block;
  }
}
.sc-introduce .group-column02 .title {
  width: 42%;
  flex-shrink: 0;
  border-right: 1px solid #4e4e4e;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column02 .title {
    padding-left: 10px;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .sc-introduce .group-column02 .title {
    margin-bottom: 20px;
    border: none;
  }
}
.sc-introduce .group-column02 .desc-area {
  width: 25%;
  margin-left: 20px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column02 .desc-area {
    width: 75%;
    display: block;
  }
}
.sc-introduce .group-column02 .desc-area .desc {
  font-size: 1.2vw;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column02 .desc-area .desc {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-left: -10px;
  }
}
@media (max-width: 767px) {
  .sc-introduce .group-column02 .desc-area .desc {
    font-size: 12.6px;
    line-height: 16.8px;
    width: 100%;
  }
}
.sc-introduce .group-column02 .btn-link {
  display: inline-block;
  margin-top: 2vw;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .sc-introduce .group-column02 .btn-link {
    margin-left: -10px;
    margin-top: 0;
  }
}
.sc-introduce .area {
  width: 33%;
}

.sc-projects {
  padding: 0 20px;
  margin-top: 12vw;
}
.sc-projects .title {
  padding-left: 0;
}
.sc-projects .text-box {
  padding-bottom: 1vw;
}
.sc-projects .text-box .normal {
  font-size: 11vw;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .sc-projects .text-box .normal {
    font-size: 45px;
    line-height: 45px;
  }
}
.sc-projects .text-box .normal.txt1 {
  display: block;
  overflow: hidden;
  margin-top: -2vw;
  margin-left: 16vw;
}
.sc-projects .text-box .normal.txt2 {
  display: block;
  overflow: hidden;
  text-align: left;
  margin-top: -4vw;
  margin-left: 22vw;
  margin-bottom: -3vw;
}
@media (max-width: 767px) {
  .sc-projects .text-box .normal.txt2 {
    margin-top: 0;
    margin-bottom: 1vw;
  }
}
.sc-projects .text-box .bold {
  overflow: hidden;
  display: block;
  font-size: 9vw;
  line-height: 1.3;
  margin-left: 5vw;
}
@media (max-width: 767px) {
  .sc-projects .text-box .bold {
    margin-top: -2vw;
  }
}
.sc-projects .group-pr {
  display: flex;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr {
    display: block;
  }
}
.sc-projects .group-pr .title-box {
  display: flex;
}
.sc-projects .group-pr .group-left {
  padding-right: 10px;
  border-right: 1px solid #4e4e4e;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-left {
    border-right: none;
    padding-right: 0;
  }
}
.sc-projects .group-pr .group-left .project-item {
  padding-right: 5px;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-left .project-item {
    padding-right: 0;
    padding-left: -10px;
    width: 100%;
  }
}
.sc-projects .group-pr .group-left .project-item .img-box {
  height: 40vw;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-left .project-item .img-box {
    width: 100%;
    height: 60vw;
  }
}
.sc-projects .group-pr .group-left .project-item .img-box a {
  display: block;
  width: 100%;
  height: 100%;
}
.sc-projects .group-pr .group-left .project-item .img-box a img {
  overflow: hidden;
  width: 100%;
  height: 120%;
  transform: scale(1.8);
  object-fit: cover;
}
.sc-projects .group-pr .group-left .project-item .img-box.item01 {
  margin-bottom: 25vw;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-left .project-item .img-box.item01 {
    margin-bottom: 4vw;
  }
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-left .project-item .img-box.item02 {
    margin-bottom: 4vw;
  }
}
.sc-projects .group-pr .group-right {
  padding-left: 10px;
  margin-top: 29vw;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-right {
    margin-top: 4vw;
    padding-left: 0;
  }
}
.sc-projects .group-pr .group-right .project-item {
  padding-left: 10px;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-right .project-item {
    padding-left: 0;
  }
}
.sc-projects .group-pr .group-right .project-item .img-box {
  height: 46vw;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-right .project-item .img-box {
    height: 60vw;
  }
}
.sc-projects .group-pr .group-right .project-item .img-box > a {
  display: block;
  width: 100%;
  height: 100%;
}
.sc-projects .group-pr .group-right .project-item .img-box > a img {
  width: 100%;
  height: 120%;
  transform: scale(1.8);
  object-fit: cover;
}
.sc-projects .group-pr .group-right .project-item .img-box.item03 {
  margin-bottom: 24vw;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-right .project-item .img-box.item03 {
    margin-bottom: 5vw;
  }
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-right .project-item .img-box.item04 {
    margin-bottom: 5vw;
  }
}
.sc-projects .group-pr .group-right .btn-link.more {
  margin-top: 2vw;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .sc-projects .group-pr .group-right .btn-link.more {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .sc-projects .group-pr .group-right .btn-link.more {
    font-size: 3.5vw;
    line-height: 1.1;
    margin-left: 0px;
  }
}
.sc-projects .group-pr .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
  border-top: 1px solid #4e4e4e;
  padding-top: 1vw;
}
.sc-projects .group-pr .title-box.top {
  border: none;
  margin-top: -1vw;
}
.sc-service {
  margin-top: 8vw;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .sc-service .title {
    margin-bottom: 25px;
  }
}
.sc-service .text-box {
  font-size: 11vw;
  padding: 0 -10px;
}
.sc-service .text-box .normal {
  display: block;
}
@media (max-width: 767px) {
  .sc-service .text-box .normal {
    font-size: 45px;
    line-height: 45px;
  }
}
.sc-service .text-box .normal.txt1 {
  display: block;
  overflow: hidden;
  margin-top: -3vw;
  margin-left: 20vw;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .sc-service .text-box .normal.txt1 {
    margin-left: 0;
  }
}
.sc-service .text-box .normal.txt2 {
  display: block;
  overflow: hidden;
  margin-top: -5vw;
  margin-left: 5vw;
  line-height: 1.3;
}
@media (max-width: 767px) {
  .sc-service .text-box .normal.txt2 {
    margin-left: 10vw;
    margin-top: -3vw;
    line-height: 1;
  }
}
.sc-service .text-box .bold {
  display: block;
}
.sc-service .text-box .bold.txt3 {
  display: block;
  overflow: hidden;
  margin-top: -4.5vw;
  margin-left: 40vw;
  font-size: 10vw;
}
@media (max-width: 767px) {
  .sc-service .text-box .bold.txt3 {
    font-size: 35px;
    line-height: 35px;
    margin-top: -1vw;
    margin-bottom: 3vw;
  }
}
.sc-service .line.line1 {
  width: 0;
}
.sc-service .group-flex {
  display: flex;
  width: 100%;
}
@media (max-width: 1023px) {
  .sc-service .group-flex {
    display: block;
  }
}
.sc-service .group-flex .sub-title {
  margin-top: 1vw;
  width: 65%;
  height: 28vh;
}
@media (max-width: 1023px) {
  .sc-service .group-flex .sub-title {
    width: 100%;
    display: block;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .sc-service .group-flex .sub-title {
    font-size: 12.6px;
    line-height: 16.8px;
  }
}
@media (max-width: 1023px) {
  .sc-service .group-flex .sub-title.box {
    display: none;
  }
}
.sc-service .group-flex .list-wrap {
  width: 100%;
}
.sc-service .group-flex .flex-wrap {
  margin-top: 1vw;
  flex-shrink: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sc-service .group-flex .sub-item {
  display: flex;
}
@media (max-width: 1023px) {
  .sc-service .group-flex .sub-item {
    display: flex;
  }
}
.sc-service .group-flex .work-item {
  width: 100%;
}
@media (max-width: 1023px) {
  .sc-service .group-flex .work-item {
    font-size: 48px;
    line-height: 48px;
    width: 100%;
    display: block;
    margin-bottom: 12vw;
  }
}
@media (max-width: 767px) {
  .sc-service .group-flex .work-item {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
}
.sc-service .group-flex .work-num {
  width: 8%;
  text-align: right;
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  .sc-service .group-flex .work-num {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .sc-service .group-flex .work-num {
    font-size: 12.6px;
    line-height: 16.8px;
  }
}
.sc-service .group-flex.btn-box {
  height: 10vh;
}

.sc-sns {
  margin-top: 12vw;
  padding: 0 20px;
  margin-bottom: 24vw;
}
.sc-sns .title {
  margin-bottom: 1vw;
}
@media (max-width: 1023px) {
  .sc-sns .title {
    padding-bottom: 2vw;
  }
}
.sc-sns .title > img {
  display: inline-block;
}
.sc-sns .bg-wrap {
  margin-top: 1vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.sc-sns .bg-wrap .img-box {
  scale: 0.5;
  opacity: 0;
}
.sc-sns .bg-wrap .img-box img {
  background-size: cover;
  height: 30vw;
  width: 100%;
}
@media (max-width: 1023px) {
  .sc-sns .bg-wrap .img-box img {
    height: 80vw;
  }
}
.sc-sns .bg-wrap .img-box.bg01 {
  width: 42%;
}
@media (max-width: 1023px) {
  .sc-sns .bg-wrap .img-box.bg01 {
    width: 100%;
  }
}
.sc-sns .bg-wrap .img-box.bg02 {
  width: 33%;
}
@media (max-width: 1023px) {
  .sc-sns .bg-wrap .img-box.bg02 {
    display: none;
  }
}
.sc-sns .bg-wrap .img-box.bg03 {
  width: 25%;
}
@media (max-width: 1023px) {
  .sc-sns .bg-wrap .img-box.bg03 {
    display: none;
  }
}
.sc-sns .account-box {
  display: block;
  padding-left: 0.45em;
  font-size: 11vw;
  line-height: 1.1em;
  color: #fff;
  font-family: prgothic;
  margin-top: -22vw;
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-sns .account-box {
    transform: translateY(-200%);
  }
}
@media (max-width: 1023px) {
  .sc-sns .account-box {
    margin-bottom: 25vw;
  }
}

.sc-others {
  padding: 0 20px;
}
.sc-others .others-wrap {
  display: flex;
}
@media (max-width: 1023px) {
  .sc-others .others-wrap {
    display: block;
  }
}
.sc-others .title {
  margin-top: 1vw;
  width: 42%;
}
@media (max-width: 1023px) {
  .sc-others .title {
    display: block;
    width: 100%;
  }
}
.sc-others .other-item {
  width: 58%;
  padding-bottom: 10vw;
  box-sizing: border-box;
  margin-bottom: 7px;
}
@media (max-width: 1023px) {
  .sc-others .other-item {
    display: block;
  }
}
.sc-others .other-item a {
  font-size: 9vw;
  line-height: 1.1em;
  letter-spacing: -0.1em;
  display: inline-block;
  transition: all 0.3s;
}
.sc-others .other-item a:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .sc-others .other-item a {
    font-size: 35px;
    padding: 0 3px;
  }
}
@media (max-width: 1023px) {
  .sc-others {
    display: block;
  }
}