.footer{
    padding: 0 20px;
.map {
    display: flex;
    margin-bottom: 8vw;
    padding-top: 1vw;
    @include br-t;
    @include tablet{
        display: block;
    }
    .title {
        width: 42%;
        @include tablet{
            margin-bottom: 5vw;
        }
        @include mobile{
            width: 100%;
        }

    }
    .contact {
        width: 17%;
        @include tablet {
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            width: 50%;
        }
        @include mobile{
            font-size: 12.6px;
        }


    }
    .footer-gnb{
        @include tablet{
            font-size: 18px;display: inline-block;}
    }
    li {
        margin-bottom: 24px;
       a{display: inline-block;
        &:after{
            display:block;
            content: '';
            border-bottom: solid 2px #777777;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
        }
        &:hover:after{
            transform: scaleX(1);
        }
       }
       @include mobile{
        font-size: 12.6px;
    }
    }
}
.mail {
    @include br-t;
    @include br-b;
    .mail-account{
        display: block;
        font-size: 7vw;
        letter-spacing: -0.01em;
        text-align: center;
        &:hover{
            opacity: 0.5;
            transition:all .3s
        }
    }
}

.mark {
    display: flex;
    > * {
        flex: 1;
    
    &:nth-child(2){
        display: flex;justify-content: center;
    }
    &:nth-child(3){
        display: flex;
        justify-content: flex-end;
    }
}
    padding-top: 1vw;
    padding-bottom: 1vw;
    @include tablet{
        font-size: 18px;
        line-height: 16.8px;
        display: flex;
    }      
     @include mobile{
        font-size: 12.6px;
    }
}
}