.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    transform: translateY(0);
    animation: header-animation 1.5s cubic-bezier(0.25,1,0.5,1) forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    background: #fff;
    @include tablet {
        padding: 0 18px;
    }
    .logo {
        background: url("../images/main-logo01.png") no-repeat center/contain;
        width: 100px;
        height: 100px;
        a {
            display: block;
            height: 100%;
            position: relative;
        }
        @include tablet {
            vertical-align: middle;
            margin: 0 auto;
            z-index: 300;
            position: relative;
        }
    }
    .gnb {
        .gnb-list {
            @include tablet {
                display: none;
            }
            .gnb-item {
                display: inline-block;
                margin-right: 20px;
                &::after {
                    display: block;
                    content: '';
                    border-bottom: solid 2px #000;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
                &.active {
                    border-bottom: 2px solid #000;
                    pointer-events: none
                }
            }
        }
    }
    &.active {
        z-index: 200;
        transition: 0.5s;
        opacity: 1;;
    }
    &.hide {
        visibility: hidden;
        transition: 0.5s;
        opacity: 0;
    }

    .btn-menu {
        position: fixed;
        display: none;
        width: 32px;
        height: 22px;
        z-index: 10;
        cursor: pointer;
        &::before{
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: #000;
            transition: transform 0.3s ease-out;
            &.active{
                transition-delay: .25s;
                transform: rotate(45deg);
            }
        }
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #4e4e4e;
            transition: transform 0.3s ease-out;
            &.active{
                transition-delay: .25s;
                transform: rotate(-45deg);
            }
        }

        @include tablet {
            display: block;
            position: absolute;
            top: 50%;
            left: 45px;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
        a {
            display: block;
            height: 100%;
        }

    }
}


//tab-area
.tab-area {
    position: fixed;
    overflow: hidden;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background: #000000;
    top: -100%;
    .tab-header {
        display: block;
        height: 69px;
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        position: relative;
        .tab-logo {
            display: block;
            background: url("../images/logo.png") no-repeat center/contain;
            width: 50px;
            height: 50px;
            filter: invert(1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            a {
                display: block;
                height: 100%;

            }
        }
    }
    .tab-nav {
        position: relative;
        z-index: 300;
        padding: 30px 0;
        .nav-area {
            padding: 0 15%;
            margin-right: 0;
            display: block;
            .tabnav-list {
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
            }
            .tabnav-item {
                transition-delay: 0.54s;
                color: #f8f8f8;
                letter-spacing: -1px;
                font-size: 50px;
                line-height: 120px;
                display: inline-block;
                margin-right: 0.35em;
                transition: all .2s ease-in-out;
                
                a {
                    &:after {
                        display: block;
                        content: '';
                        border-bottom: solid 2px #f8f8f8;
                        transform: scaleX(0);
                        transition: transform 400ms ease-in-out;
                    }
                    &:hover:after {
                        transform: scaleX(1);

                    }
                }
                &.active {
                    pointer-events: none;
                    border-bottom: solid 1px #f8f8f8;
                }

            }
        }
    }
    .tab-bottom {
        display: inline-block;
        width: 100%;
        margin-left: auto;
        .tab-info {
            display: block;
            color: #fff;
            font-size: 16px;
            .desc {
                text-align: center;
            }
        }
    }
    .btn-close {
        width: 22px;
        height: 30px;
        position: absolute;
        left: 40px;
        top: 25px;
        cursor: pointer;
        &::before,&::after{
            position: absolute;
            left: 0;
            content: '';
            height: 23px;
            width: 2.5px;
            background: #fff;
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }

    }
}
