.sc-banner {
    padding: 20px 0;
    display: block;
    a {
        display: block;
        height: 100%;
        position: relative;
        .bg-left {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            background-repeat: repeat-x;
            left: 0;
            background: url("../images/sc-banner-border.jpg");
        }
        .bg-right {
            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            background-repeat: repeat-x;
            right: 0;
            background: url("..//images/sc-banner-border.jpg");
        }
        img {
            position: relative;
            z-index: 100;
            display: block;
            max-width: 320px;
            margin: 0 auto;
        }
    }
}