.layout04 {
    .sort-order {
        padding-top: 12px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: 16px;
        .order-box {
            font-size: 12px;
            font-weight: 500;
            position: relative;
            .btn-order {}
        }

    }
    .order-list {
        padding-left: 16px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-right: 11px;
        .order-item {
            width: calc(100% / 3);
            a {
                display: block;
                height: 100%;
                margin-right: 5px;
                padding-bottom: 15px;
                img {
                    max-width: 100%;
                    width: 100%;
                }
                .info-area {
                    margin-top: 7px;
                    height: 48px;
                    .title {
                        padding-left: 0;
                    }
                    .writer {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        font-size: 12px;
                        color: #999;
                    }
                    .like {
                        margin-top: 0;
                        font-family: -apple-system,BlinkMacSystemFont,sans-serif;
                        line-height: 13px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        font-size: 12px;
                        color: #999;
                    }
                }
            }
        }
    }
}
