.layout01 {
    padding-top: 20px;
    .info-area {
        padding-left: 16px;
        .rank-area{
        &.active{}}
    .rank-list {
        .rank-item {
            display: flex;
            position: relative;
            &.rank-item {
                margin-top: 6px;
            }
            a {
                display: flex;
                img {
                    width: 78px;
                    height: 55px;
                    overflow: hidden;
                    border-radius: 2px;
                }
                .rank-num {
                    overflow: hidden;
                    position: relative;
                    height: 55px;
                    padding-left: 38px;
                    em {
                        position: absolute;
                        top: 11px;
                        left: 5px;
                        width: 30px;
                        text-align: center;
                        display: block;
                        font-size: 20px;
                        color: #222;
                    }
                }
                .rank-info {
                    position: relative;
                    display: table;
                    height: 18px;
                    margin-top: 9px;
                    margin-left: -14px;
                    .title {
                        display: -webkit-box;
                        overflow: hidden;
                        line-height: 18px;
                        font-size: 14px;
                        font-weight: normal;
                    }
                    .writer {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-top: 3px;
                        font-size: 12px;
                        line-height: 15px;
                        color: #999;
                        margin-left: 16px;
                    }

                }
            }
        }
    }

    .sc-ranking & {
        .text {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 5px 16px;
            border: none;
            background: none;
            font-size: 14px;
            font-weight: 600;
            color: #999;
            line-height: 16px;
            &.active {
                color: #000;
            }
        }
    }
}
}