.footer-wrap {
    background: #fafafa;
    .footer {
        padding: 40px 16px;
        .cs-area {
            padding-bottom: 30px;
            color: #555;
        }
        .cs-title {
            font-size: 13px;
            line-height: 16px;
            font-weight: 500;
            padding-bottom: 15px;
        }
        .cs-number {
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            display: block;
            padding-bottom: 10px;
        }
        .cs-time {
            font-size: 13px;
            line-height: 16px;
            font-weight: 400;
            display: block;
            .top {
                padding-bottom: 5px;
            }
        }
        .sns-area {

            width: 150px;
            display: block;
            .ic-facebook {
                background: url("../images/footer-facebook.png") no-repeat center/contain;
                height: 22px;
                width: 12px;
                display: inline-block;
                margin-right: 25px;
            }
            .ic-youtube {
                background: url("../images/footer-youtube.png") no-repeat center/contain;
                height: 22px;
                width: 22px;
                display: inline-block;
                margin-right: 25px;
            }
            .ic-insta {
                background: url("../images/footer-insta.png") no-repeat center/contain;
                height: 22px;
                width: 22px;
                display: inline-block;
            }
        }
        .corp-area {
            padding: 30px 0;
            font-size: 12px;
            line-height: 1.7;
            color: #777;
            font-weight: 700;
            .corp-list {
                padding: 9px 0;
                .corp-item {
                    display: inline-block;
                    padding-right: 10px;
                    margin-right: 5px;
                    position: relative;
                    &+.corp-item::before {
                        content: '';
                        position: absolute;
                        top: 9px;
                        left: -10px;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 10px;
                        background: #ccc;
                    }
                }
            }
        }

        .add-area {

            display: inline-block;
            font-size: 11px;
            line-height: 13px;
            font-weight: 400;
            color: #777;
            line-height: 21px;
            .copy {

                line-height: 13px;
                letter-spacing: -0.02em;
                color: #777;
                padding: 30px 0 0;
                font-weight: 700;
                span {
                    font-weight: 300;
                }
            }
        }

        .badge-area {
            margin-top: 24px;
            > ul {
                margin-top: 24px;
            }
            .bg {
                display: inline-block;
                vertical-align: bottom;
                margin-right: 22px;

                > a {
                    display: block;
                    width: 45px;
                }

                .symatec {
                    width: 36px;
                }
                .kg {
                    width: 27px;
                }
            }
        }
    }
}
