//header 하위메뉴 노스크롤
@mixin noScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}

//말줄임
@mixin elip{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin elip-multi($line, $lineHeight){
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: $lineHeight;
    max-height: $lineHeight*$line;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    display: -webkit-box;
}