/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 100%;
    background: #fff;
    max-width: 100vw;
}

.header-top {
    box-sizing: border-box;
    position: relative;
    z-index: 20;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .group-flex {
        display: flex;
        align-items: center;
    }
    .logo {
        margin: 12px 0 0 11px;
        padding: 5px 5px 4px;
        box-sizing: border-box;
        a {
            background-position: -298px -182px;
            width: 17px;
            height: 16px;
            content: '';
            display: inline-block;
        }
    }
    .gnb-area {
        .gnb-list {
            .gnb-item {
                margin: 9px 7px 0 0;
                padding: 8px 5px 5px;
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                &.active {
                    color: #000;
                }
                &+.gnb-item::before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: -5px;
                    width: 1px;
                    height: 15px;
                    background: #eee;
                    display: inline-block;
                }
            }
        }
    }
    .util-area {
        margin-top: 10px;
        margin-right: 8px;
        .btn-search {
            background-position: -298px -237px;
            width: 16px;
            height: 16px;
            content: "";
            display: inline-block;
            margin: 8px;
        }
        .link-mypage {
            background-position: -180px -245px;
            width: 29px;
            height: 16px;
            content: "";
            display: inline-block;
            margin: 8px;
        }
    }
    &.active{
        position: absolute;
        top: -100%;
    }
}

.header-bottom {
    position: fixed;
    position: relative;
    z-index: 200;
    margin-top: 2px;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
    clear: both;
    .menu-list {
        display: flex;
        justify-content: space-between;
        max-width: 558px;
        margin: 0 auto;
        .menu-item {
            font-size: 15px;
            line-height: 41px;
            height: 41px;
            padding: 0 3px;
            vertical-align: top;
            padding: 0 22px 0 32px;
            height: 42px;
            padding: 0 22px;
            white-space: nowrap;
            a {
                display: block;
                padding: 0 3px;
                font-weight: 500;
            }
            &.active a {
                color: #00d564;
                border-bottom: 2px solid #00d564;
            }
        }
    }
}


.weekly {
    height: 41px;
    padding: 0 2px;
    border-bottom: 1px solid #ebebeb;
    background: #f8f8f9;
    .weekly-list {
        display: flex;
        justify-content: space-between;
        padding: 0 7px;
        .weekly-item {
            height: 41px;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            padding: 0 7px;
            line-height: 41px;
            &.active{
                font-weight: 400;
                color: #fff;
                background: #00d564;
                border-radius: 12px;
                display: inline-block;
                height: 23px;
                margin: 9px 0;
                padding: 0 7px;
                -webkit-border-radius: 12px;
                border-radius: 12px;
                line-height: 23px;
            }
        }
    }
}
