
@font-face {
    font-family: 'icomoon';
    src: url(../font/icomoon.woff) format('woff');
}
@font-face {
    font-family: 'prgothic';
    src: url(../font/PPRightGothic-WideFine.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'inter';
    src: url(../font/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
    font-weight: 500;
}
