@-webkit-keyframes marquee1 {
	0%{
		left:-0%
	}
	to{
		left:-4957px;
	}
}
@keyframes marquee1 {
	0%{
		left:0%
	}
	to{
		left:-4957px;
	}
}

@-webkit-keyframes marquee2 {
	0%{
		left:0
	}
	to{
		left:-3131px
	}
}
@keyframes marquee2 {
	0%{
		left:0
	}
	to{
		left:-3131px
	}
}
@-webkit-keyframes marquee3 {
	0%{
		left:0
	}
	to{
		left:-4120px
	}
}
@keyframes marquee3 {
	0%{
		left:0
	}
	to{
		left:-4120px
	}
}


@keyframes masking{
	0% {
	  width: 0%;
	}
	100% {
		width: 100%;
  
	}
  }